@model UNFHackAThon.Models.ViewModels.OrderDetailsCart
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    @if(Model.listCart.Count > 0)
    {
        <br />
        <input id="userID" asp-for="@Model.listCart[0].ApplicationUserId" hidden/>
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light mi-0 row container">
                        <div class="col-6">
                            <i class="fade fas fa-user"></i> &nbsp;
                            Competition Join Page
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Participants" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-small">Continue to Search and Join more Competitions</a> 
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.listCart)
                        {


                            <div class="row">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.CompetitionItem.Image" class="rounded" width="120" height="80" />
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                    <h4><strong>@item.CompetitionItem.Name</strong></h4>
                                    <h4><small>@item.CompetitionItem.Description</small></h4>
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px;">
                                        <h6><string>@item.Count</string></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                      
                                    </div>
                                    <div class="col-2 col-sm-4 col-lg-2 text-right">
                                        <button type="submit" class="btn btn-outline-danger" asp-action="remove" asp-route-cartId="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                    <div class="card-footer">
                        <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                            <a asp-action="Summary" asp-area="Participants" asp-controller="Cart" class="btn btn-success form-control">Summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhiteBorder">No item added to Competition Page</div>
    }

</form>

