@model List<UNFHackAThon.Models.ViewModels.OrderDetailsViewModel>
@using UNFHackAThon.Utility


@{
    ViewData["Title"] = "ManageOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />


<div>
    <input class="btn btn-primary" value="Export Analytics" onclick="fnExcelReport();" />
    <iframe id="txtArea1" style="display:none"></iframe>
</div>

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
           
            <h2 class="text-info"> Leader Board</h2>
        </div>

    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table" id="headerTable">
                <thead>
                <tbody id="tbody">
                    <tr class="table-secondary">
                        <th>
                            Paticipant Name
                        </th>
                        <th>
                            Competition Time
                        </th>
                        <th>
                            Competition(s) Participated in.
                        </th>
                        <th>
                            Scores
                        </th>
                    </tr>
                <thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.PickupName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.PickUpTime)
                            </td>
                            <td>
                                <ul>
                                    @foreach (var details in item.OrderDetails)
                                    {
                                        <li>@details.Name</li>
                                    }
                                </ul>
                            <td>
                                <h6><string>@item.OrderDetails.Count</string></h6>



                                @if (User.IsInRole(SD.ManageUser))
                                {

                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-primary" asp-action="plus" asp-controller="OrderController" asp-route-cartId="@item.listCart">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-danger" asp-action="minus" asp-controller="OrderController" asp-route-cartId="@item.OrderDetails.Count">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>


                                }




                            </td>



                        </tr>
                    }


                <tbody>
            </table>
        }
        else
        {
            <p>No competition history exists...</p>
        }
    </div>

</div>





@section scripts{
    <script>
        function fnExcelReport() {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('headerTable'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
    </script>
}